.App-header {
  grid-area: header;
  text-align: center;
  background-color: #222;
  padding: 20px 0;
  color: white;
}

.App-header h2,
.App-header h4 {
  margin: 7px 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.version {
  position: absolute;
  top: 10px;
  right: 10px;
}
