@import "../node_modules/react-select/scss/default.scss";
.multi-autocomplete {
  font-size: 1rem;
  margin-top: 18px;
  &.is-focused:not(.is-open)>.Select-control { border-color: rgb(224, 224, 224); }

  .Select-control { cursor: pointer;border: none;border-bottom: 1px solid rgb(224, 224, 224);border-radius: 0; }
  .Select--single>.Select-control .Select-value,
  .Select-placeholder { padding: 0; }
  .Select-arrow { border-color: rgb(224, 224, 224) transparent transparent; }
  .is-open .Select-arrow, .Select-arrow-zone:hover>.Select-arrow { border-top-color: rgb(224, 224, 224); }

  .Select-input { margin: 0; }

  .Select-value {
    color: #000;border: none;border-radius: 16px;margin: 1px;padding: 6px 4px 3px 6px;background-color: rgb(224, 224, 224);
    &:hover { background-color: #d6d6d6; }
  }
  .Select-value-icon {
    float: right;margin: 1px 1px 0 0;border: none;border-radius: 50%;background-color: #a6a6a6;color: rgb(224, 224, 224);padding: 0 4px;font-size: 1.6em;line-height: 0.95em;width: 20px;height: 20px;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:hover { background-color: #7f7f7f;color: rgb(224, 224, 224); }
  }

  .Select-menu-outer {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
    z-index: 2100;
    background-color: #fff;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: scaleY(1);
    transform-origin: left top 0;
    .Select-option {
      background-color: #fff;transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      &:hover { background-color: rgba(0, 0, 0, 0.0980392); }
      &.is-focused { background-color: rgba(0, 0, 0, 0.0980392); }
      &.is-selected { background-color: rgba(0, 0, 0, 0.0980392); }
    }
  }
}
