.title {
    text-align: center;
    height: 68px;
    margin: 0;
}

.base {
   text-decoration: none;
   color: #222;
   height: 100%;
   width: calc(100% - 32px);
   display: inline-block;
 }

.active {
  font-weight: bold;
  color: #00BCD4;
}

.verticallyCenter { line-height: 68px; }

.morePadding { padding-left: 32px; }